###########################
###     InteliJIDEA     ###
###########################
.idea

###########################
###       Gradle        ###
###########################
.gradle
!gradle/wrapper/

###########################
###   Compilation junk  ###
###########################
build/
!**/src/main/**/build/
!**/src/test/**/build/
